<nav >
    <a  href="/">Quotes App</a>
    <div >
      <ul >
        <li >
          <a  href="/quotes">All Quotes</a>
        </li>
        <li>
          <a href="/quotes/new">Add Quote</a>
        </li>
      </ul>
    </div>
  </nav>
  